WIKIBASE_URL=https://climatepolicyradar.wikibase.cloud
WIKIBASE_USERNAME=
WIKIBASE_PASSWORD=
WIKIBASE_HAS_SUBCONCEPT_PROPERTY_ID=P1
WIKIBASE_SUBCONCEPT_OF_PROPERTY_ID=P2
WIKIBASE_RELATED_CONCEPT_PROPERTY_ID=P3
WIKIBASE_NEGATIVE_LABELS_PROPERTY_ID=P9
WIKIBASE_LABELLING_PROJECT_PROPERTY_ID=P6
WIKIBASE_NEGATIVE_CONCEPT_PROPERTY_ID=P11
